body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./form_space_background_figures_67027_1920x1080.jpg');
}
h1,a{
    color: white;
    text-align: center;
    text-decoration: underline;
}
p{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
fieldset{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.386)
}
legend{
    font-size: xx-large;
    color: white;
    margin-left: 35%;
}
label{
    margin-left: 30%;
    color: white;
    font-size: large;
}
input{
    margin-left: 30%;
    font-size: large;
}
#button{
    color: red;
    color: be;
    background-color: aliceblue;
    font-size: large;
    margin-left: 40%;
    transition: 1s;
}
#button:hover{
    color: green;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.459);
    border: white solid;
    font-size: large;
}